<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_without_description', 
        title: project.title,
        subtitle: project.stack,
        description: project.description
    %> 
</div> 